@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  height: 100%;
}